- if @editor
  .cover
    #editor
      = form_tag '' do
        .field
          Edit Text content of field
        .field
          = text_area_tag '[attrs]text'
        .field
          = submit_tag 'update'
          = link_to 'cancel'

.TITLE
  = Fields::Transforms.read_transform.call(page_name)
- if (elements = wedding.page_details.for(page_name)).present?
  - elements.each do |element|
    .container{:class => "#{element.formatting_class} #{'editing' if @editor}"}
      - if @editor
        .editors
          .edit
            .img{'aria-hidden' => "true", data: {icon: "a", url: set_wedding_detail_path(@wedding, element) }}
              = link_to 'a'
            %ol.options
              %li.header
                Edit
          .title_format
            .img{'aria-hidden' => "true", 'data-icon' => "é"}
              é
            %ol.options
              %li.header
                Text Format
              %li.option{:class => (element.formatting_class.blank? ? 'selected' : '')}
                = link_to 'Plain', set_wedding_detail_path(@wedding, element, attrs: {formatting_class: nil})
              - Detail::FORMATS.invert.each do |format_name, format|
                %li.option{:class => (element.formatting_class == format ? 'selected' : '')}
                  = link_to format_name, set_wedding_detail_path(@wedding, element, attrs: {formatting_class: format})
          .image_size
            .img{'aria-hidden' => "true", 'data-icon' => "A"}
              A
            %ol.options
              %li.header
                Image Sizes
              - Detail::IMAGE_SIZES.each do |image_size_name, image_size|
                %li.option{:class => (element.image_size == image_size ? 'selected' : '')}
                  = link_to image_size_name, set_wedding_detail_path(@wedding, element, attrs: {image_size: image_size_name})
      - if element.image?
        .element_image{:class => cycle('odd', 'even')}
          = image_tag(element.sized_url)
      .text_container
        - element.each_text_element do |text|
          %p
            = text_writer(text)

- else
  .PENDING
    Under Construction
  .PENDING
    Please check back soon