- if @editor
  .cover
    #editor
      = form_tag '' do
        .field
          Edit Text content of field
        .field
          = text_area_tag '[attrs]text'
        .field
          = submit_tag 'update'
          = link_to 'cancel', '#', {}, {class: 'cancel'}

.TITLE
  = Fields::Transforms.read_transform.call(page_name)
- if (elements = wedding.page_details.for(page_name)).present?
  - elements.each do |element|
    .container{:class => "#{element.formatting_class} #{'editing' if @editor}"}
      = render partial: 'external/editor', locals: {element: element} if @editor
      - if element.image?
        .element_image{:class => cycle('odd', 'even')}
          = image_tag(element.sized_url)
      .text_container{data: {text: element.text}}
        - element.each_text_element do |text|
          %p
            = text_writer(text)

- else
  .PENDING
    Under Construction
  .PENDING
    Please check back soon