- content_for :head do
  == #{@wedding.name.titlecase}'s
  Wedding
- content_for :buttons do
  - if current_user
    = link_to :edit, edit_wedding_path(@wedding)
    |
    = link_to :weddings, weddings_path

= render :partial => 'sidebar'

= paragraph_write('Our Wedding', @home)
