- content_for :head do
  == #{@wedding.name}'s
  Wedding
  .countdown
    == #{@wedding.on} - #{countdown(@wedding.raw_on)}
- content_for :buttons do
  - if current_user
    = link_to :edit, edit_wedding_path(@wedding)
    |
    = link_to :weddings, weddings_path
- content_for :external do
  = link_to 'Create Your own Wedding Website', new_user_session_path

= render :partial => 'external/sidebar'

.TITLE RSVP Online

= form_for @rsvp do |f|
  = f.hidden_field :wedding_id

  = labeled_text_field_with_error f, :name, :label => 'Your name'
  = labeled_text_field_with_error f, :email, :label => 'Email address', style: 'width: 500px'

  = labeled_options_with_error f, :attendance, :label => 'I/We:', values: { true => 'accept with pleasure.', false => 'decline with regret.' }
  = labeled_check_box_with_error f, :bus_required, :label => "I/We require transport from the church to the reception (#{51 - @wedding.rsvps.on_bus.count} seats remaining)."

  = labeled_text_field_with_error f, :dietary, :label => 'Special requiremens (dietary / other)'
  = labeled_text_area_with_error f, :message, :label => 'Message to David and Maddy'

  = recaptcha_with_errors f, display: {theme: 'clean'}, hide_label: true

  = f.submit 'Send RSVP', :id => 'rsvp'