- content_for :head do
  == #{@wedding.name.titlecase}'s
  Wedding
- content_for :buttons do
  - if current_user
    = link_to :edit, edit_wedding_path(@wedding)
    |
    = link_to :weddings, weddings_path
- content_for :external do
  = link_to 'Create Your our Wedding Website', root_path

= render :partial => 'sidebar'

= render partial: 'page', locals: { page_name: @name, wedding: @wedding }
