- content_for :head do
  == #{@wedding.name}'s
  Wedding
  .countdown
    == #{@wedding.on} - #{countdown(@wedding.raw_on)}
- content_for :buttons do
  - if current_user
    = link_to :edit, edit_wedding_path(@wedding)
    |
    = link_to :weddings, weddings_path
- content_for :external do
  = link_to 'Create Your own Wedding Website', new_user_session_path

= render :partial => 'sidebar'

= render partial: 'page', locals: { page_name: @name, wedding: @wedding }
