- content_for :head do
  == #{@wedding.name}'s
  Wedding
- content_for :buttons do
  = link_to :weddings, weddings_path

= render :partial => 'weddings/sidebar'

- wedding = GuestDetails.new(@wedding, params)

- if wedding.list_owner?(current_user)
  %ul#guest_owner.selectable
    - wedding.guest_owners.each do |guest_owner, class_name|
      %li.select_element{class: class_name}
        = link_to guest_owner.name, wedding_guests_path(@wedding, owner: guest_owner.name)
    %li.select_element.float_right
      = link_to 'Manage'

%table.spaced{:class => "#{'editable' if wedding.can_edit_guest?(current_user)}"}
  %thead
    %tr
      %th.guest Guest Name
      %th.seats Seats
      %th.contact Contact
      %th.status Status
  %tbody.guests
    - wedding.guests(current_user).each do |guest|
      %tr{:'data-edit-url' => wedding_guest_path(@wedding, guest), :'data-id' => guest.id}
        %td{:'data-field' => :name, :'data-value' => guest.name, :'data-prefix' => guest.prefix(params[:owner])}
          = guest.full_name(params[:owner])
        %td{:'data-field' => :seats, :'data-value' => guest.seats}= guest.seats
        %td{:'data-field' => :contact, :'data-value' => guest.contact}= guest.contact
        %td{:data => {:field => :status, :value => guest.status, :type => 'select', :list => ['Pending', 'Confirmed', 'Rejected'].to_json}}= guest.status

    - if wedding.can_add_guest?(current_user)
      %tr.new_row
        %td{:'data-field' => :guest_owner_id, :'data-value' => wedding.guest_owner_id, :class => 'hidden'} &nbsp;
        %td{:'data-field' => :name} &nbsp;
        %td{:'data-field' => :seats} &nbsp;
        %td{:'data-field' => :contact} &nbsp;
        %td{:'data-field' => :status, :'data-skip' => 'true'} &nbsp;

  - if wedding.can_add_guest?(current_user)
    %tfoot
      %tr{:'data-table' => '.guests'}
        %td{:colspan =>  4}
          + Add Guest

