- content_for :head do
  Wedding Guest

- content_for :sidebar do
  .double_space
    = render "devise/shared/links"

.H1 Sign in to setup your own wedding website

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  = labeled_text_field_with_error f, :login
  = labeled_password_field_with_error f, :password

  - if devise_mapping.rememberable?
    .label
      = f.check_box :remember_me
      = f.label :remember_me

  .value
    = f.submit "Sign in"
