%tr
  %td.name= rsvp.name
  %td.email= rsvp.email
  %td.attendance= rsvp.attendance ? 'Yes' : '-'
  %td.bus_required= rsvp.bus_required ? 'Yes' : '-'
  %td.dietary= rsvp.dietary
%tr{ style: rsvp.message.blank? ? 'display: none' : 'display: table-row' }
  %td.comment{colspan: 5}= rsvp.message
