.address{:data => {:url => wedding_address_path(address.wedding, address) }}
  .title
    = address.address_type
    .actions
      = link_to 'edit', '#', :class => 'edit-address'
      |
      = link_to 'delete', '#', :class => 'delete-address'
  = value_in_row 'Name',      address.name
  = value_in_row 'Address',   address.line_1
  = value_in_row '&nbsp;',          address.line_2 unless address.line_2.blank?
  = value_in_row 'Post code', address.post_code
