%tr
  %td.name= rsvp.name
  %td.email= rsvp.email
  %td.attendance= rsvp.attendance ? 'Yes' : 'No'
  %td.bus_required= rsvp.bus_required ? 'Yes' : 'No'
  %td.dietary= rsvp.dietary
%tr
  %td.comment{colspan: 5}= rsvp.message
