.image
  .label
    = f.label :image
  .value
    - if @wedding.image?
      .tag{:style => "background-image: url(#{@wedding.image_url})"}
  .value
    = f.file_field :image
    = f.hidden_field :image_cache


= labeled_text_field_with_error(f, :name)
= labeled_text_field_with_error(f, :bride)
= labeled_text_field_with_error(f, :bride_email)
= labeled_text_field_with_error(f, :groom)
= labeled_text_field_with_error(f, :groom_email)
= labeled_text_field_with_error(f, :on, :value => @wedding.on)

%script
  $('#wedding_on').datepicker({dateFormat: 'dd M yy'})
