.image
  .label
    = f.label :image
  .value
    - if @wedding.image?
      .tag{:style => "background-image: url(#{@wedding.image_url})"}
  .value
    = f.file_field :image
    = f.hidden_field :image_cache

.label
  = f.label :name
.value
  = f.text_field :name

.label
  = f.label :bride
.value
  = f.text_field :bride

.label
  = f.label :groom
.value
  = f.text_field :groom

.label
  = f.label :on
.value
  = f.text_field :on

