- content_for :sidebar do
  %ul
    %li= link_to 'Details', wedding_path(@wedding)
    %li= link_to 'Guests', wedding_guests_path(@wedding)
    %li= link_to 'RSVPs', wedding_addresses_path(@wedding)
    - if @wedding.owner?(current_user)
      %li{data: {match: '(/[^/]*|)$'}, class: :external}
        = link_to 'External Texts', wedding_details_path(@wedding)
        %ul
          %li= link_to 'Home', wedding_detail_path(@wedding, id: :home)
          %li= link_to 'About Us', wedding_detail_path(@wedding, id: :about_us)
          %li= link_to 'Ceremony & Reception', wedding_detail_path(@wedding, id: :'ceremony_&_reception')
          %li= link_to 'Timetable', wedding_detail_path(@wedding, id: :timetable)
          %li= link_to 'Directions', wedding_detail_path(@wedding, id: :directions)
          %li= link_to 'The Day After', wedding_detail_path(@wedding, id: :the_day_after)
        %ul
          %li= link_to 'Gift List', wedding_detail_path(@wedding, id: :gift_list )
          %li= link_to 'Where To Stay', wedding_detail_path(@wedding, id: :where_to_stay )
    %li= link_to 'Terms & Conditions', terms_and_conditions_wedding_path(@wedding)
