- content_for :head do
  Weddings

- content_for :buttons do
  - if current_user
    = link_to 'Create New Wedding', new_wedding_path
    |
    = link_to 'Show all', weddings_path(show_all: true)

- content_for :sidebar do
  - if current_user.blank?
    .double_space
      = render "devise/shared/links", resource_name: 'user', devise_mapping: Devise::Mapping.find_by_path!(new_user_session_path, :path)

%table
  %thead
    %tr
      %th Name
      %th Bride
      %th Groom
      %th Date
      %th Image

  %tbody
    - @weddings.each do |wedding|
      %tr{:'data-url' => (current_user ? wedding_path(wedding) : external_url(:wedding_name => wedding.param_name)))}
        %td= wedding.name
        %td= wedding.bride
        %td= wedding.groom
        %td= wedding.on.display
        %td.center= image_tag(wedding.image.thumb.url) if wedding.image?

