- content_for :head do
  Weddings

- content_for :buttons do
  = link_to 'Create New Wedding', new_wedding_path

%table
  %thead
    %tr
      %th Name
      %th Bride
      %th Groom
      %th Date
      %th Image

  %tbody
    - @weddings.each do |wedding|
      %tr{:'data-url' => wedding_path(wedding)}
        %td= wedding.name
        %td= wedding.bride
        %td= wedding.groom
        %td= wedding.on.display
        %td.center= image_tag(wedding.image.thumb.url) if wedding.image?

