%h1 Setup Your Wedding

= form_for @wedding do |f|
  .label
    = f.label :bride
  .value
    = f.text_field :bride

  .label
    = f.label :groom
  .value
    = f.text_field :groom

  .label
    = f.label :on
  .value
    = f.text_field :on

  .label
    = f.label :image
  .value
    = f.file_field :image
    = f.hidden_field :image_cache
    = image_tag(@wedding.image_url) if @wedding.image?

  .button
    = f.submit :create