- content_for :head do
  Your Wedding
- content_for :buttons do
  = link_to :edit, edit_wedding_path(@wedding)
  |
  = link_to :index, weddings_path

.image
  .label
    .float_right
      = link_to image_tag('/rotate_anticlockwise.png'), rotate_image_wedding_path(@wedding, :angle => -90)
      = link_to image_tag('/rotate_clockwise.png'), rotate_image_wedding_path(@wedding, :angle => 90)
    Image
  .value
    =# image_tag(@wedding.image_url) if @wedding.image?
    - if @wedding.image?
      .tag{:style => "background-image: url(#{@wedding.image_url})"}

.label
  Name
.value
  = @wedding.name

.label
  Bride
.value
  = @wedding.bride

.label
  Groom
.value
  = @wedding.groom

.label
  On
.value
  = @wedding.on
