- content_for :head do
  == #{@wedding.name}'s
  Wedding
- content_for :buttons do
  = link_to :edit, edit_wedding_path(@wedding)
  |
  = link_to :weddings, weddings_path

= render :partial => 'sidebar'

.image
  .label
    .float_right
      = link_to image_tag('/rotate_anticlockwise.png'), rotate_image_wedding_path(@wedding, :angle => -90)
      = link_to image_tag('/rotate_clockwise.png'), rotate_image_wedding_path(@wedding, :angle => 90)
    Image
  .value
    - if @wedding.image?
      .tag{:style => "background-image: url(#{@wedding.image_url})"}

.label
  Name
.value
  = @wedding.name

.label
  Bride
.value
  = @wedding.bride

.label
  Bride Email
.value
  = @wedding.bride_email

.label
  Groom
.value
  = @wedding.groom

.label
  Groom Email
.value
  = @wedding.groom_email

.label
  On
.value
  = @wedding.on
