- content_for :head do
  Your Wedding

.image
  .label
    Image
  .value
    = image_tag(@wedding.image_url) if @wedding.image?

.label
  Bride
.value
  = @wedding.bride

.label
  Groom
.value
  = @wedding.groom

.label
  On
.value
  = @wedding.on


.button
  = link_to :edit, edit_wedding_path(@wedding)