%h1 Setup Your Wedding

.label
  Bride
.value
  = @wedding.bride

.label
  Groom
.value
  = @wedding.groom

.label
  On
.value
  = @wedding.on

.label
  Image
.value
  = image_tag(@wedding.image_url) if @wedding.image?

.button
  = link_to :edit