- content_for :head do
  Texts For
  == #{@wedding.name}'s
  Wedding

- content_for :buttons do
  = link_to 'add text', new_wedding_text_path(@wedding)
  |
  = link_to :weddings, weddings_path


= render :partial => 'weddings/sidebar'

%table
  %thead
    %tr
      %th Type
      %th Text
      %th Image
      %th

  %tbody
    - @texts.each do |text|
      %tr{:'data-url' => edit_wedding_text_path(@wedding, text)}
        %td= text.detail_type
        %td= text.detail_text.first(120).gsub(/\n/,'<br/>').html_safe + '..'
        %td.center= image_tag(text.image.thumb) if text.image?
        %td=link_to :delete, wedding_text_path(@wedding, text), confirm: 'Are you sure?', method: :delete
