- content_for :head do
  Texts For
  == #{@wedding.name}'s
  Wedding

- content_for :buttons do
  = link_to :details, wedding_details_path(@wedding)
  |
  = link_to :weddings, weddings_path

= render :partial => 'weddings/sidebar'

= form_for [@wedding, @detail] do |f|
  = render :partial => 'fields', :locals => {:f => f}

  .button
    = f.submit :create

