<!DOCTYPE html>
<html>
<head>
  <title>WeddingGuest</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="screen">
    <div id="padding">
      <div id='head'>
        <div id="buttons">
          <%= yield :buttons %>
        </div>
        <h1><%= yield :head %></h1>
      </div>
      <div id='body'>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
