!!!
%html
%head
  %title Wedding Guest
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  #cover
    #screen
      #padding
        #head
          #buttons= yield :buttons
          %h1= yield :head
        #body= yield

  #flash
    %p.notice= notice if notice
    %p.alert= alert if alert
