!!!
%html
%head
  %title Wedding Guest
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  #cover
    #screen
      #padding
        #head
          #buttons
            - if current_user
              = current_user.nickname
              |
              = yield :buttons
              |
              = link_to :logout, 'device/session', :method => 'delete'
          %h1= yield :head
        #body
          #sidebar
            = yield :sidebar
          #main
            = yield
